body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding-top: 75px;
    background-color: #f8f9fa;
    color: #252323;
}
html, body, #root {
    height: 100%;
}
.app-wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    flex: 1;
}

.custom-header {
    background-color: #ded7d8 !important; 
}

.small-header {
    padding: 0 !important;
    margin-top: 0px !important;
    margin-bottom: 10px !important;
}
.navbar-toggler {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.navbar {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.small-navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.small-navbar .navbar-brand,
.small-navbar .nav-link {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 5px 20px !important;
    line-height: 20px; 
}
.active-link {
    color: rgb(111, 11, 36) !important;
}

 
.container{
    color: #2a1111;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
}

header nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold !important;
    transition: color 0.3s;
}

header nav a.marg {
    color: rgba(14, 24, 25, 0.682);
    border: 1px solid rgba(14, 24, 25, 0.682);
    margin: 0 !important;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav a:hover {
    color: #68b3be;
}

.navbar .btn {
    background-color: #ded7d888;
    color: #555;
    border: 1px solid #555;
}

.navbar .btn:hover {
    background-color: #fff5f7;
    color: #555;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 96vh;
}

.about-hero-section{
    background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20230703/pngtree-a-rack-of-fashionable-attire-hanging-in-3d-on-pastel-beige-image_3749199.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 300px; 
    border-radius: 20px;
} 
.contact-hero-section {
    background-color: #e1e9f3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 350px;           
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    position: relative;
}

#map {
  height: 400px; 
  width: 80%;
  margin: auto;
}
footer {
    background-color: #343a40;
    padding: 15px;
    text-align: center;
    color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}
.fa-instagram {
    color: #dd00ff;
}
.deal-card {
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  width: 100%;
  min-height: 350px;
  image-rendering: auto;
  border-radius: 20px;
  font-size: 25px;
}

.deal-card.first {
  background-image: url("https://tse1.mm.bing.net/th/id/OIP.3teDwQpMYopdnU_EQrw_rwHaFy?rs=1&pid=ImgDetMain&o=7&rm=3");
}

.deal-card.second {
  background-image: url("https://tse2.mm.bing.net/th/id/OIP.mIgVdkO2l-kEMU6CqnoJHAHaEG?w=2000&h=1108&rs=1&pid=ImgDetMain&o=7&rm=3");
}

.review-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.review-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 25px rgba(0,0,0,0.1);
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px; 
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.product-card {
    border: none;
    border-radius: 10px;
    padding: 15px; 
    margin: 0;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    width: 290px;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 1.1rem;
    margin-bottom: 8px;
    color: #495057;
}

.product-card p {
    font-size: 0.85rem; 
    color: #6c757d;
    margin-bottom: 12px;
}

.product-card .btn {
    margin: 3px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9rem; 
}
.contact-page .hero-section {
    background: linear-gradient(to right, #bcc3ca, #e9ecef);
}

.contact-page .contact-section form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-page .map-section img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.category-link {
  color: rgb(97, 33, 33);
  text-decoration: none; 
}


.mission-section{
    background-color: #bca28a;
}

.value-card {
    transition: transform .3s ease, box-shadow .3s ease;
}

.value-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(131, 76, 76, 0.1);
}


.footer {
    background: #ded7d8 ;
    color: #444;
    padding: 50px 0 20px;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-section h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #6d1717;
    font-weight: 700;
}

.footer-section p {
    line-height: 1.8;
    font-size: 16px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    margin-bottom: 10px;
    font-size: 16px;
    color: #444;
    text-decoration: none;
    transition: 0.3s;
}
.footer-section ul li a:hover{
    color: #527ad0;
    font-size: 18px;
}
footer .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-icons .icon ,
footer .social-icons .fa-instagram {
    color: #444;
    font-size: 20px;
    transition: 0.3s;
}

.social-icons .icon:hover, 
footer .social-icons .fa-instagram:hover, 
.footer-section ul li a:hover{
    color: #527ad0;
    transform: scale(1.1);
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #b3acad;
    font-size: 14px;
}















.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}
.dark-mode .menu-icon {
    color: white !important;
}
.dark-mode header,
.dark-mode .custom-header {
    background-color: #1c1c1c;
}
.dark-mode header nav a {
    color: #e0e0e0;
    text-shadow: 0 0 3px #000; 
}
.dark-mode .navbar-brand {
    color: #d299a7 !important;
}
.dark-mode header span {
    color: white;
}
.dark-mode header nav a:hover {
    color: #68b3be;
}
.dark-mode .featured-products,
.dark-mode .new-arrivals,
.dark-mode .reviews {
    background-color: #222 !important;
}
.dark-mode .reviews .review-card{
    background-color: #1e1e1e !important;
}
.dark-mode .reviews .review-card h6{
    color: rgb(166, 166, 166) !important;
}
.dark-mode .product-card,
.dark-mode .value-card,
.dark-mode .review-card {
    background-color: #1e1e1e;
    color: #e0e0e0;
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.dark-mode .deal-card h3,
.dark-mode .deal-card p,
.dark-mode .hero-banner h1,
.dark-mode .about-hero-section h1 {
    color: #fff; 
    text-shadow: 0 2px 6px rgba(0,0,0,0.7); 
}

.dark-mode .btn {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}
.dark-mode .pro input, .dark-mode .pro span{
    background-color: #222;
    color: white;
    border: none;
}
.dark-mode .pro input::placeholder{
    color: white;
}
.dark-mode .btn:hover {
    background-color: #555;
    color: #fff;
}
.dark-mode .datailed select {
    background-color: #222;
    border: none;
    color: white;
}

.dark-mode footer {
    background-color: #1c1c1c;
    color: #e0e0e0;
}

.dark-mode .container,
.dark-mode .lead,
.dark-mode .category-link {
    color: #ac4949;
}

.dark-mode #map {
    filter: brightness(0.85);
}
.dark-mode .product-card,
.dark-mode .value-card,
.dark-mode .review-card {
    background-color: #1e1e1e;
    color: #bb6b6b; 
    box-shadow: 0 4px 12px rgba(0,0,0,0.5);
}

.dark-mode .deal-card h3,
.dark-mode .deal-card p,
.dark-mode .hero-banner h1,
.dark-mode .about-hero-section h1 {
    color: #7f4848; 
    text-shadow: 0 2px 6px rgba(0,0,0,0.7); }

.dark-mode .container,
.dark-mode .lead,
.dark-mode .category-link {
    color: #8e3434; 
}
.cart-badge {
          position: absolute;
          top: -5px;
          right: -10px;
          background-color: #d63384;
          color: #4a2c2c;
          font-size: 12px;
          font-weight: bold;
          border-radius: 50%;
          padding: 2px 6px;
        }
        .nav-link:hover {
          color: #68b3be !important;
        }
        .active-link {
          color: #6f0b24 !important;
          font-weight: 600;
        }
        .dark-mode .about-hero-section h1,
      .dark-mode .about-hero-section p {
    color: #953e3e; 
    text-shadow: 0 2px 6px rgba(0,0,0,0.7); 
}
.dark-mode .about-content {
    color: #9e3636; 
}

.dark-mode .values-section {
    background-color: #bca28a !important;
}
.dark-mode .values-section .value-card{
    background-color: #222 !important;
}
.dark-mode .contact-section{
    background-color: #222 !important;
}
.dark-mode .contact-page form {
    background-color: #121212;
}

.dark-mode .contact-page form input, 
.dark-mode .contact-page form textarea{
    background-color: #222;
    color: white;
    border: none;
}
.dark-mode .contact-hero-section {
    background-color: #3c4b5e;
}
.dark-mode .contact-hero-section h1,
.dark-mode .contact-hero-section p{
    color: rgb(253, 80, 80);
}
.dark-mode .log,
.dark-mode .sign{
    background-color: #222;
    color: white;
}
.dark-mode .log input,
.dark-mode .sign input{
    background-color: #121212;
    color: white;
    border: none;
}
.dark-mode .shcart li {
    background-color: #222;
    color: white !important;
}
.dark-mode .shcart li input{
    background-color: #333;
    color: white;
}
.dark-mode .adm input {
    background-color: #222;
    border: none;
    color: white;
}
.dark-mode .adm .card {
    background-color: #222 !important;
    color: white;
}
.dark-mode .adm input::placeholder {
    color: rgb(159, 159, 159);
}
.dark-mode .banner {
    background-image: url(../images/darkbg.jpg);
    background-blend-mode: multiply;
    background-color: #15151585;
}
@media (max-width: 768px) {
    .navbar-nav .btn-sm {
    margin-bottom: 5px;
    }
    .cart-badge {
    top: -4px;
    right: -6px;
    font-size: 11px;
    padding: 1px 5px;
    }
} 

@media (max-width: 768px) {
    .product-list {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .product-card {
        padding: 10px; 
    }
}
